<div class='yelp-review'>
  <div class='yelp-excerpt'>
    ${excerpt}
    <div class='yelp-review-footer'>
      written by <span class='yelp-user-name'>${user.name}</span>
      on <span class='yelp-date'>${date}</span>
      at <a href="http://yelp.com/biz/${bizid}">yelp.com</a>
    </div>
  </div>
</div>
